<div class="container">
    <div class="header">
        <h3 class="text-center text-white">Quotes App</h3>
        <p class="text-white">Welcome to Quotes App where you can view and share quotes to bring out the best in people</p>
    </div>
<div class="row pt-5">
    <div class="col-md-6">
        <div class="card pb-3" *ngFor = 'let quote of quoteEntry; let i = index'>
            <h6> <span class="Name">Published by {{quote.submittedName}}</span> <span class="date"> {{quote.Date|date}} </span></h6>
            <app-quote-message *ngIf='quote.showDetails' [message]='quote' (removeQuote)='removeItem($event,i)'></app-quote-message>
            <button (click)='toggleDetails (i)' class="btn btn-dark">Show Quotes</button>
        </div>
    </div>
    <div class="col-md-5">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
</div>
</div>

