body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))url("/cristofer-jeschke-NSKP7Gwa_I0-unsplash.jpg");
}
h6{
    display: flex;
    justify-content: space-between;
}
.header{
    text-align: center;
}